.btn_settings {
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 700;
}
.btnSm {
  padding: 1.1rem 3.1rem;
}

.btnMd {
  padding: 1.1rem 4.6rem;
}

.btnLg {
  padding: 1.1rem 8.1rem;
}

// Theme
.btnBlue {
  background: #2196f3;
  color: #fff;
}

.btnGreen {
  background: #4caf50;
  color: #fff;
}

.btnGray {
  background: #c4c4c4;
  color: #fff;
}

.btnWhite {
  background: #fff;
  color: #565656;
  border: 1px solid #aeaeae;
}
